/* Сперва общие правила */

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}


.send_button {
    background-color: MediumSlateBlue;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
        }

p {
   font-weight:300;


}

a {

}

/* Колонки */

.row {
    display: flex;
    gap: 30px;
    margin-top: 30px;


}
.col {
    flex: auto;

}


/* Потом селекторы по классам */

.text-input {
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px lightgrey;
    }

.button {
    background-color: MediumSlateBlue;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin-right: 16px;
    }

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    }

h2 {
   font-family: Arial;
   font-size: 30px;
   font-weight: 800;
   text-align: left;
   }

h3 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    }

.book_title {
    font-size: 40px;
    line-height: 100px;

}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
